#container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 100px);
}

.content{
    border: 1px solid;
}

.content1{
    background-color: rgb(158, 156, 154);
    grid-row: ;

}

