a{
    padding: 5px;
    text-decoration: none;
    border: 1px solid;
    border-radius: 15px;
    background-color: darkorange;
    color: white;
}
a:hover{
    background-color: gray;
    color: darkorange;
}
a:visited{
    color: blue;
}
a:active{
    background-color: plum;
}